.filter-panel {
    margin: 20px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .filter-panel label {
    margin-right: 5px;
    font-size: 1rem;
  }
  
  .filter-panel select {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #9102aa78;
    border-radius: 4px;
  }
  