.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 20px;
  }
  
  .search-bar input {
    width: 300px;
    padding: 10px;
    border: 1px solid #9102aa;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
    background-color: #fff;
    color: #000;
  }
  
  .search-bar button {
    padding: 10px 15px;
    border: 1px solid #ccc;
    background-color: #9102aa;
    color: white;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-bar button:hover {
    background-color: #c687d178;
  }
  